name: Monitor Makefile CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Docker Login
        uses: docker/login-action@v1.10.0
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}

      - uses: actions/checkout@v2
      - name: Build the Docker image
        run: docker build -t ormissia/monitor .
        runï¼šdocker push ormissia/monitor
